@model System.Collections.Generic.List<ABCar.Models.ViewModels.VoziloFavoritPrikazVM>

<div id="res">
    <h2>Vozila odabrana za favorite</h2>
    <table class="table table-bordered">
        <tr>
            <th class="col-sm-2">Marka</th>
            <th class="col-sm-2">Model</th>
            <th class="col-sm-2">Godiste</th>
            <th class="col-sm-2">Cijena</th>
            <th class="col-sm-2"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Marka</td>
                <td>@item.Model</td>
                <td>@item.Godiste</td>
                <td>@item.Cijena KM</td>
                <td>
                    <a asp-action="UkloniFavorita" asp-route-voziloId="@item.Id" class="btn btn-danger">Ukloni iz favorita</a> |
                    <button class="btn btn-primary" onclick="prikaziVozilo(@item.Id)">Provjeri ==></button>
                </td>
            </tr>
        }
    </table>

</div>

<script>

    function prikaziVozilo(id) {
        $.get(
            "/Ponuda/Home/GetVoziloDetalji",
            { id: id },
            function (res) { $("#res").html(res) });
    }

</script>